# CMake
build/
bin/

# OS X
.DS_STORE
.DS_Store

# IDE
.vscode

# media
*.mov
*.png

# Python
__pycache__/
*.pyc

# packaging
*.egg-info/

# experiment_files
*.mp4
*exp_local*
algos/gcsl/exp_local/*
*.xml

# log files
checkpoint/
logs/

# binary
*.so

# waymo dataset
dataset/

# trained models
*.pth

# tensorboard
*tfevents*

# configs
configs.json

# pyenv
.python-version

# poetry
poetry.lock

# wandb
wandb

# Virtual env files
.venv

# HPC image files
overlay-*
nocturne.sif

# Files used for package installation
setup.py
*.whl
*.tar.gz
nocturne/_version.py

# temporary files
temp/

# Waymo data
data/
data_full/
data_all/

# Logging output
logs/
