absl-py==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.13"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.13" and (platform_system == "Darwin" or sys_platform == "darwin")
asttokens==2.4.0 ; python_version >= "3.10" and python_version < "3.13"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "3.13"
cachetools==5.3.1 ; python_version >= "3.10" and python_version < "3.13"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.13" and implementation_name == "pypy"
charset-normalizer==3.3.0 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
cloudpickle==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.1.4 ; python_version >= "3.10" and python_version < "3.13"
contourpy==1.1.1 ; python_version >= "3.10" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.13"
debugpy==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
decorator==4.4.2 ; python_version >= "3.10" and python_version < "3.13"
docker-pycreds==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.1.3 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
farama-notifications==0.0.4 ; python_version >= "3.10" and python_version < "3.13"
filelock==3.12.4 ; python_version >= "3.10" and python_version < "3.13"
fonttools==4.43.1 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2023.9.2 ; python_version >= "3.10" and python_version < "3.13"
gitdb==4.0.10 ; python_version >= "3.10" and python_version < "3.13"
gitpython==3.1.40 ; python_version >= "3.10" and python_version < "3.13"
google-auth-oauthlib==1.0.0 ; python_version >= "3.10" and python_version < "3.13"
google-auth==2.23.3 ; python_version >= "3.10" and python_version < "3.13"
grpcio==1.59.0 ; python_version >= "3.10" and python_version < "3.13"
gym-notices==0.0.8 ; python_version >= "3.10" and python_version < "3.13"
gym==0.26.2 ; python_version >= "3.10" and python_version < "3.13"
gymnasium==0.29.1 ; python_version >= "3.10" and python_version < "3.13"
idna==3.4 ; python_version >= "3.10" and python_version < "3.13"
imageio-ffmpeg==0.4.9 ; python_version >= "3.10" and python_version < "3.13"
imageio==2.31.5 ; python_version >= "3.10" and python_version < "3.13"
ipykernel==6.25.2 ; python_version >= "3.10" and python_version < "3.13"
ipython==8.16.1 ; python_version >= "3.10" and python_version < "3.13"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
jupyter-client==8.4.0 ; python_version >= "3.10" and python_version < "3.13"
jupyter-core==5.4.0 ; python_version >= "3.10" and python_version < "3.13"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.13"
markdown==3.5 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.13"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.13"
matplotlib==3.8.0 ; python_version >= "3.10" and python_version < "3.13"
moviepy==1.0.3 ; python_version >= "3.10" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
nest-asyncio==1.5.8 ; python_version >= "3.10" and python_version < "3.13"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.1 ; python_version >= "3.10" and python_version < "3.13"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.1.1 ; python_version >= "3.10" and python_version < "3.13"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.13"
pathtools==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "3.13"
pillow==10.1.0 ; python_version >= "3.10" and python_version < "3.13"
platformdirs==3.11.0 ; python_version >= "3.10" and python_version < "3.13"
proglog==0.1.10 ; python_version >= "3.10" and python_version < "3.13"
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "3.13"
protobuf==4.24.4 ; python_version >= "3.10" and python_version < "3.13"
psutil==5.9.6 ; python_version >= "3.10" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.13"
pyasn1-modules==0.3.0 ; python_version >= "3.10" and python_version < "3.13"
pyasn1==0.5.0 ; python_version >= "3.10" and python_version < "3.13"
pybind11==2.11.1 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.13" and implementation_name == "pypy"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.13"
pyparsing==3.1.1 ; python_version >= "3.10" and python_version < "3.13"
python-box==7.1.1 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.13"
pyvirtualdisplay==3.0 ; python_version >= "3.10" and python_version < "3.13"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.13"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.13"
pyzmq==25.1.1 ; python_version >= "3.10" and python_version < "3.13"
requests-oauthlib==1.3.1 ; python_version >= "3.10" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.13"
seaborn==0.13.0 ; python_version >= "3.10" and python_version < "3.13"
sentry-sdk==1.32.0 ; python_version >= "3.10" and python_version < "3.13"
setproctitle==1.3.3 ; python_version >= "3.10" and python_version < "3.13"
setuptools-scm==8.0.4 ; python_version >= "3.10" and python_version < "3.13"
setuptools==68.2.2 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "3.13"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "3.13"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.13"
tensorboard-data-server==0.7.1 ; python_version >= "3.10" and python_version < "3.13"
tensorboard==2.14.1 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
torch==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
tornado==6.3.3 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.13"
traitlets==5.11.2 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
wandb==0.15.12 ; python_version >= "3.10" and python_version < "3.13"
wcwidth==0.2.8 ; python_version >= "3.10" and python_version < "3.13"
werkzeug==3.0.0 ; python_version >= "3.10" and python_version < "3.13"
